# ---------------------------
# macOS cruft
# ---------------------------
.DS_Store

# ---------------------------
# Xcode / iOS
# ---------------------------
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside

# ---------------------------
# Python
# ---------------------------
.venv/
.env
__pycache__/
